page-home {
    .slide-zoom{
        height: 100%;
    }
    .module-section {
        ion-row {
            text-align: center;
            ion-col {
                padding-top: 10px;
                padding-bottom: 10px;
                img {
                    height: 42px;
                    width: 42px;
                }
                p {
                    color: #333;
                    margin: 4px 0 0 0;
                    font-size: 1.2rem;
                }
            }
        }
    }
    .section-wrapper {
        padding-left: 8px;
        padding-right: 8px;
        .real-estate-info {
            ion-row {
                padding: 8px 0;
                ion-col {
                    text-align: center;
                    img {
                        width: 36px;
                        height: 36px;
                    }
                    p {
                        margin: 6px 0 0 0;
                        font-size: 1.2rem;
                        color: #333;
                    }
                }
            }
        }
        .section-header {
            padding-top: 0.7rem;
            padding-bottom: 0.7rem;
            .section-title {
                font-size: 1.8rem;
                font-weight: 600;
                color: #333;
            }
            .section-sub-title {
                font-size: 1.2rem;
                padding-left: 0.4rem;
                color: #999;
            }
            border-bottom: 0.55px solid #e5e5e5;
        }
        .section-body {
            .xs-flex-item {
                height: 46px;
                padding: 0.4rem 0.9rem;
                background-color: #f9f9f9;
                h1 {
                    font-size: 1.4rem;
                    color: #333;
                    margin: 0.5rem 0;
                }
                p {
                    font-size: 1.2rem;
                    color: #999;
                    margin: 0;
                }
                img {
                    width: 29px;
                    height: 36px;
                }
            }
        }
    }
    @media screen and(max-width:320px) {
        .module-section {
            ion-row {
                text-align: center;
                ion-col {
                    padding-top: 7px;
                    padding-bottom: 7px;
                    img {
                        height: 42px;
                        width: 42px;
                    }
                    p {
                        margin: 2px 0 0 0;
                    }
                }
            }
        }
        .section-wrapper {
            padding-left: 8px;
            padding-right: 8px;
            .real-estate-info {
                ion-row {
                    padding: 6px 0;
                    ion-col {
                        text-align: center;
                        img {
                            width: 28px;
                            height: 28px;
                        }
                        p {
                            margin: 4px 0 0 0;
                            font-size: 1.2rem;
                            color: #333;
                        }
                    }
                }
            }
            .section-header {
                padding-top: 0.7rem;
                padding-bottom: 0.7rem;
                .section-title {
                    font-size: 1.4rem;
                    font-weight: 600;
                    color: #333;
                }
                .section-sub-title {
                    font-size: 1.0rem;
                    padding-left: 0.3rem;
                    color: #999;
                }
                border-bottom: 0.55px solid #e5e5e5;
            }
            .section-body {
                .xs-flex-item {
                    height: 46px;
                    padding: 0.4rem 0.9rem;
                    background-color: #f9f9f9;
                    text-align: left;
                    h1 {
                        font-size: 1.4rem;
                        color: #333;
                        margin: 0.5rem 0;
                    }
                    p {
                        font-size: 1.0rem;
                        color: #999;
                        margin: 0;
                    }
                    img {
                        width: 22px;
                        height: 28px;
                    }
                }
            }
        }
    }
}