.padding-section {
    padding-bottom: 16px;
}

.no-padding {
    padding: 0;
}

.no-padding-horizontal {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-padding-vertical {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.padding {
    padding: 0.8rem;
}

.padding-top {
    padding-top: 0.8rem;
}

.padding-right {
    padding-right: 0.8rem;
}

.padding-bottom {
    padding-bottom: 0.8rem;
}

.padding-left {
    padding-left: 0.8rem;
}

.padding-horizontal {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.padding-vertical {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}