<!--
  Generated template for the SecondHandHouseDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="{{showNavBar?'primary':'transparent'}}">
    <ion-title *ngIf="showNavBar">{{secondHandHouse.projectName}}</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="popToRoot()">
        <ion-icon color="light" name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon color="light" name="ios-heart-outline"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon color="light" name="ios-share-outline"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon color="light" name="ios-chatbubbles-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content #main class="xs-bg-content" (ionScrollEnd)="scrollHandler($event)">
  <ion-slides class="xs-list-item-bottom-line" [style.height.px]='height' pager>
    <ion-slide>
      <ion-img width="100%" [height]="height" src="assets/ui/second-hand-house-img/d1.jpg" alt=""></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img width="100%" [height]="height" src="assets/ui/second-hand-house-img/d2.jpg" alt=""></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img width="100%" [height]="height" src="assets/ui/second-hand-house-img/d3.jpg" alt=""></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img width="100%" [height]="height" src="assets/ui/second-hand-house-img/d4.jpg" alt=""></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img width="100%" [height]="height" src="assets/ui/second-hand-house-img/d5.jpg" alt=""></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img width="100%" [height]="height" src="assets/ui/second-hand-house-img/d6.jpg" alt=""></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img width="100%" [height]="height" src="assets/ui/second-hand-house-img/d7.jpg" alt=""></ion-img>
    </ion-slide>
  </ion-slides>
  <div class="house-detail-wrapper xs-bg-component padding-horizontal">
    <div class="adv-descript xs-list-item-bottom-line">
      <h1>
        {{secondHandHouse.description}}
      </h1>
    </div>
    <div class="key-descript xs-list-item-bottom-line">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="key-descript-item">
              <p class="key">售价</p>
              <p class="value">{{secondHandHouse.totalPrice | priceFormat:10000}}万</p>
            </div>
          </ion-col>
          <ion-col>
            <div class="key-descript-item">
              <p class="key">户型</p>
              <p class="value">{{secondHandHouse.room}}室{{secondHandHouse.hall}}厅</p>
            </div>
          </ion-col>
          <ion-col>
            <div class="key-descript-item">
              <p class="key">建筑面积</p>
              <p class="value">{{secondHandHouse.buildArea}}㎡</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="house-detail xs-list-item-bottom-line">
      <div class="feature margin-vertical">
        <xs-tag [item]="tag" *ngFor="let tag of secondHandHouse.feature;"></xs-tag>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <span>单价:</span>
            <span>{{secondHandHouse.unitPrice}}元/㎡</span>
          </ion-col>
          <ion-col>
            <span>挂牌:</span>
            <span>{{secondHandHouse.publishDate | dateFormat:"YYYY-MM-DD"}}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span>朝向:</span>
            <span>{{secondHandHouse.face}}</span>
          </ion-col>
          <ion-col>
            <span>楼层:</span>
            <span>{{secondHandHouse.houseFloor}} / {{secondHandHouse.totalFloor}}层</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span>类别:</span>
            <span>板楼</span>
          </ion-col>
          <ion-col>
            <span>电梯:</span>
            <span>{{secondHandHouse.isElevator==1?'有':'无'}}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span>装修:</span>
            <span>{{secondHandHouse.decorate}}</span>
          </ion-col>
          <ion-col>
            <span>年代:</span>
            <span>{{secondHandHouse.finishYear}}年</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span>用途:</span>
            <span>普通住宅</span>
          </ion-col>
          <ion-col>
            <span>产权性质:</span>
            <span>{{secondHandHouse.property}}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <span>小区:</span>
            <span>{{secondHandHouse.projectName}}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="surround-descript xs-list-item-bottom-line">
      <div class="title">
        <span>房源描述</span>
      </div>
      <p class="content">此房位于小区板楼，不灵街，南北通透，格局好，得房率90%。是经典的三居室户型，客厅、主卧、次卧朝南；客卧、餐厅和厨房朝北，属于双通透户型，客厅和餐厅通透，主卧和次卧通透！</p>
    </div>
    <div class="surround-descript xs-list-item-bottom-line">
      <div class="title">
        <span>楼盘地址</span>
      </div>
      <p class="content">{{secondHandHouse.address}}</p>
    </div>
    <div class="surround-descript xs-list-item-bottom-line">
      <div class="title">
        <span>公交线路</span>
      </div>
      <p class="content">15路、801路、111路、97路</p>
    </div>
    <div class="surround-descript xs-list-item-bottom-line">
      <div class="title">
        <span>同小区房源</span>
      </div>
      <ion-scroll scrollX="true">
        <div class="same-community-house" *ngFor="let house of sameCommunityHouses;">
          <ion-img width="134" height="103" src="{{house.imgUrl}}"></ion-img>
          <div>
            <span class="layout-descript">{{house.room}}室{{house.hall}}厅 / {{house.buildArea}}㎡ / {{house.face}}</span>
          </div>
          <div>
            <span class="total-price">{{house.totalPrice | priceFormat:10000 }}万元</span>
            <span class="unit-price">{{house.unitPrice}}元/㎡</span>
          </div>
        </div>
      </ion-scroll>
      <div class="padding">
        <button ion-button color="primary" block>同小区{{sameCommunityHouses.length}}套在售</button>
      </div>
    </div>
    <div class="surround-advise xs-list-item-bottom-line padding-bottom">
      <div class="xs-flex-item">
        <div class="title">
          <span>周边推荐</span>
        </div>
        <div class="sub-title">
          <span>更多推荐>></span>
        </div>
      </div>
      <ion-scroll scrollX="true">
        <div class="advise-house" *ngFor="let house of surroundAdviseHouses;">
          <ion-img width="134" height="103" src="{{house.imgUrl}}"></ion-img>
          <div>
            <span class="layout-descript">{{house.room}}室{{house.hall}}厅 / {{house.buildArea}}㎡ / {{house.face}}</span>
          </div>
          <div>
            <span class="community-name">{{house.projectName}}</span>
          </div>
          <div>
            <span class="total-price">{{house.totalPrice | priceFormat:10000 }}万元</span>
            <span class="unit-price">{{house.unitPrice}}元/㎡</span>
          </div>
        </div>
      </ion-scroll>
    </div>
    <div class="surround-community xs-list-item-bottom-line padding-bottom">
      <div class="xs-flex-item">
        <div class="title">
          <span>周边小区</span>
        </div>
        <div class="sub-title">
          <span>更多推荐>></span>
        </div>
      </div>
      <ion-scroll scrollX="true">
        <div class="advise-community" *ngFor="let community of surroundAdviseCommunities">
          <img width="134" height="103" src="{{community.imgUrl}}" />
          <div>
            <span class="community-name">{{community.projectName}}</span>
          </div>
          <div>
            <span class="avg-price">{{community.avgPrice}}元/㎡</span>
            <span class="establish-year">{{community.finishYear}}</span>
          </div>
        </div>
      </ion-scroll>
    </div>
  </div>
</ion-content>

<ion-footer color="light">
  <ion-toolbar>
    <div class="broker-wrapper">
      <div class="avatar">
        <img width="36" height="36" src="assets/ui/avatar/avatar.png" alt="">
      </div>
      <div class="broker">
        <p>卢万洲
          <span>(绿色鑫家园)</span>
        </p>
        <p>13800001235</p>
      </div>
    </div>
    <ion-buttons end>
      <button ion-button icon-right color="primary">
        打电话
        <ion-icon name="ios-call-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>