xs-house-item {
    .total-price {
        color: #ff0000 !important;
        font-weight: 600;
        font-size: 1.4rem !important;
        margin: 0 !important;
    }
    .xs-item-wrapper {
        position: relative;
        padding-top: 12px;
        padding-bottom: 12px;
        .xs-item-img {
            position: absolute;
            width: 120px;
            height: auto;
        }
        .xs-item-detail {
            min-height: 84px;
            margin-left: 135px;
            color: #999;
            .xs-flex-item {
                padding: 0 !important;
                margin-bottom: 6px !important;
                height: auto !important;
                font-size: 1.3rem !important;
                background-color: transparent !important;
            }
            h1 {
                color: #333;
                margin-top: 0;
                margin-bottom: 6px;
                font-weight: 600;
                font-size: 1.6rem;
            }
            p{
                margin: 0;
                font-size: 1.2rem;                
            }
        }
    }
    @media screen and(max-width:320px) {
        .xs-item-wrapper {
            position: relative;
            padding-top: 8px;
            padding-bottom: 8px;
            .xs-item-img {
                position: absolute;
                width: 100px;
                height: auto;
            }
            .xs-item-detail {
                min-height: 100px;
                margin-left: 108px;
                color: #999;
                .xs-flex-item {
                    padding: 0 !important;
                    margin-bottom: 4px !important;
                    height: auto !important;
                    font-size: 1.2rem !important;
                    background-color: transparent !important;
                }
                h1 {
                    color: #333;
                    margin-top: 0;
                    margin-bottom: 4px;
                    font-weight: 600;
                    font-size: 1.4rem;
                }
            }
        }
    }
    @media screen and(max-width:375px) {
        .xs-item-wrapper {
            position: relative;
            padding-top: 8px;
            padding-bottom: 8px;
            .xs-item-img {
                position: absolute;
                width: 100px;
                height: auto;
            }
            .xs-item-detail {
                margin-left: 108px;
                color: #999;
                .xs-flex-item {
                    padding: 0 !important;
                    margin-bottom: 3px !important;
                    height: auto !important;
                    font-size: 1.2rem !important;
                    background-color: transparent !important;
                }
                h1 {
                    color: #333;
                    margin-top: 0;
                    margin-bottom: 3px;
                    font-weight: 600;
                    font-size: 1.4rem;
                }
                p {
                    margin: 0;
                    font-size: 1.2rem;
                }
            }
        }
    }
}

xs-house-item:last-child {
    .xs-item-wrapper {
        border-bottom: none;
    }
}