xs-house-item {
    .xs-item-wrapper {
        border-bottom: 0.55px solid #e5e5e5;
        min-height: 107px;
        position: relative;
        padding-top: 12px;
        padding-bottom: 12px;
        .xs-item-img {
            position: absolute;
            width: 110px;
            height: 83px;
        }
        .xs-item-detail {
            margin-left: 122px;
            color: #999;
            .xs-flex-item {
                padding: 0 !important;
                margin-bottom: 6px !important;
                height: auto !important;
                font-size: 1.3rem !important;
                background-color: transparent !important;
            }
            h1 {
                color: #333;
                margin-top: 0;
                margin-bottom: 6px;
                font-weight: 600;
                font-size: 1.6rem;
            }
            p {
                margin-top: 0;
                margin-bottom: 6px;
                font-size: 1.3rem;
            }
        }
    }
    .xs-item-wrapper:last-child {
        border-bottom: none;
    }
}