page-xs-list-item-filter-more-popover {
    ion-scroll {
        width: 100%;
        .scroll-content {
            height: calc(100% - 44px)
        }
    }
    .footer-button {
        width: calc(50% - 8px);
        display: inline-block;
        text-align: center;
        color: #fff;
        font-size: 1.6rem;
        border-right: 0.55px solid #fff;
    }
    .footer-button:last-child {
        border: none;
    }
}