<!--
  Generated template for the XsListItemFilterMorePopoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<xs-list-item-filter-container (dismiss)="dismiss()" (reset)="reset()">
    <xs-list-item-filter-box class="margin-bottom" [title]="filter.category" *ngFor="let filter of filters;">
      <ion-grid>
        <ion-row *ngFor="let items of filter.items">
          <ion-col col-4 *ngFor="let item of items">
            <xs-list-item-filter-item [text]="item.text" [id]="item.id" [(isActive)]="item.isActive" [category]="filter.category"></xs-list-item-filter-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </xs-list-item-filter-box>
    <xs-list-item-filter-box class="margin-bottom" [title]="prices.category">
      <ion-grid>
        <ion-row *ngFor="let price of prices.items;">
          <ion-col col-4 *ngFor="let item of price">
            <xs-list-item-filter-item [text]="item.text" [id]="item.id" [(isActive)]="item.isActive" [category]="prices.category"></xs-list-item-filter-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <xs-list-item-filter-input text="最小值"></xs-list-item-filter-input>
          </ion-col>
          <ion-col col-auto>
            <xs-list-item-filter-split text="-"></xs-list-item-filter-split>
          </ion-col>
          <ion-col>
            <xs-list-item-filter-input text="最大值"></xs-list-item-filter-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </xs-list-item-filter-box>
    <xs-list-item-filter-box class="margin-bottom" [title]="layouts.category">
      <ion-grid>
        <ion-row *ngFor="let layout of layouts.items">
          <ion-col col-4 *ngFor="let item of layout">
            <xs-list-item-filter-item [text]="item.text" [id]="item.id" [(isActive)]="item.isActive" [category]="layouts.category"></xs-list-item-filter-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <xs-list-item-filter-input text="房"></xs-list-item-filter-input>
          </ion-col>
          <ion-col>
            <xs-list-item-filter-input text="厅"></xs-list-item-filter-input>
          </ion-col>
          <ion-col>
            <xs-list-item-filter-input text="卫"></xs-list-item-filter-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </xs-list-item-filter-box>
</xs-list-item-filter-container>